In [2]:
import pandas as pd
import numpy

In [3]:
df_data = pd.read_csv("TS_DATA.csv")

In [4]:
df_data.head()

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

In [5]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 4 columns):
ts            3553 non-null object
user_id       3553 non-null object
country_id    3553 non-null object
site_id       3553 non-null object
dtypes: object(4)
memory usage: 111.1+ KB

In [6]:
df_bdv = df_data[df_data['country_id'].str.contains('BDV')]

In [7]:
df_bdv.groupby('site_id')['user_id'].nunique().sort_values(ascending=False)

site_id
5NPAU    544
N0OTG     90
3POLC      2
Name: user_id, dtype: int64

In [8]:
mask = (df_data['ts']>='2019-02-03 00:00:00') & (df_data['ts']<='2019-02-04 23:59:59')
df_time = df_data.loc[mask]
df_time.groupby(['user_id','site_id'])['user_id'].agg('count').sort_values(ascending=False)

user_id  site_id
LC3A59   N0OTG      26
LC06C3   N0OTG      25
LC3C9D   N0OTG      17
LC3C7E   3POLC      15
LC38EB   N0OTG       9
LCC3A5   5NPAU       8
LC3FFF   5NPAU       7
LC3491   5NPAU       6
LC376D   N0OTG       6
LC36FC   N0OTG       6
LC32F5   N0OTG       6
LCC3E0   N0OTG       5
LC3AC8   N0OTG       5
LC3FEE   3POLC       5
LC343D   5NPAU       4
LC30B3   N0OTG       4
LC3344   N0OTG       4
LC3D52   N0OTG       4
LC321B   5NPAU       4
LC3DB6   5NPAU       4
LC34BD   N0OTG       4
LC3999   N0OTG       4
LC3193   3POLC       4
LC3874   5NPAU       4
LC3DEA   N0OTG       4
LC370C   5NPAU       4
LC3481   N0OTG       3
LC31E2   N0OTG       3
LC38B3   N0OTG       3
LC3FD1   N0OTG       3
                    ..
LC3B95   GVOFK       1
LC3B90   5NPAU       1
LC3B8F   QGO3G       1
LC3B6C   5NPAU       1
LC3B66   5NPAU       1
LC3B5C   QGO3G       1
LC3B5A   N0OTG       1
LC3B49   N0OTG       1
LC3BF5   5NPAU       1
LC3C10   5NPAU       1
LC3C9B   QGO3G       1
LC3C1C   N0OTG       1
LC3C9B   5NPAU       1
LC3C99   N0OTG       1
LC3C8E   5NPAU       1
LC3C8A   N0OTG       1
LC3C79   QGO3G       1
LC3C75   5NPAU       1
LC3C6F   QGO3G       1
LC3C6E   QGO3G       1
LC3C5A   5NPAU       1
LC3C56   N0OTG       1
LC3C4F   QGO3G       1
LC3C49   5NPAU       1
LC3C48   5NPAU       1
LC3C37   N0OTG       1
LC3C2E   QGO3G       1
LC3C29   5NPAU       1
LC3C1F   5NPAU       1
LC00C3   5NPAU       1
Name: user_id, Length: 746, dtype: int64

In [10]:
df_data['date'] = pd.to_datetime(df_data['ts']) 
df_last_visit = df_data.loc[df_data.groupby('user_id').date.idxmax()]
df_last_visit.groupby('site_id')['user_id'].agg('count').sort_values(ascending=False)

site_id
5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
JSUUP      1
EUZ/Q      1
Name: user_id, dtype: int64

In [11]:
df_data['date'] = pd.to_datetime(df_data['ts']) 
df_first_visit = df_data.loc[df_data.groupby('user_id').date.idxmin()]

In [69]:
df_combine = pd.merge(df_last_visit,df_first_visit,on='user_id',how='outer')
len(df_combine[df_combine['site_id_x']==df_combine['site_id_y']])

1670